/*
  Form styling to avoid loading it to everypage
*/


/*Overriding Bootstrap defaults*/

.error{
	float:right;
	color:red;
}

.form-control{
	border-color:#512D1E;
}
.form-control:focus{
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(81,45,30,.6);
	border-color:#512D1E;
}

.has-error{
	background-color:#FFD9D9;
}

.has-sucess{
	background-color:#D9FFD9;
}

/*Also can use has-feedback to show checkmark, X or warning sign at the end of input controls*/