/* Lambda Branding Color Codes

#512D1E
#643614
#78431B
#331F1F <-- avoid using
#FFFFFF

*/


ul,ol{
	list-style: none;
}

body {
	background: url(../img/texture.png) repeat;
}


/* Header */
.navbar-brand {
	padding: 0;
	margin-top: 2%;
	margin-bottom: 2%;
}

.navbar-inverse {
	background: rgb(100,54,20); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(100,54,20,1) 0%, rgba(81,45,30,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(100,54,20,1)), color-stop(100%,rgba(81,45,30,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(100,54,20,1) 0%,rgba(81,45,30,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(100,54,20,1) 0%,rgba(81,45,30,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(100,54,20,1) 0%,rgba(81,45,30,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(100,54,20,1) 0%,rgba(81,45,30,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#643614', endColorstr='#512d1e',GradientType=0 ); /* IE6-9 */
	border-color: #FFFFFF;
	border-width: 0 0 1px;
}

.navbar-inverse .navbar-nav>li>a {
	color: #FFFFFF;
}

#logo {
	margin: 1% 0 0 0;
	padding: 0;
}

.active {
	background-color: #FF0000;
}

#head { 
	background:#181015 url( ../img/aa_3.png) no-repeat; background-size: cover; min-height:520px; 
	background-position: 25% 25%;
	text-align: center; 
	padding-top:240px; 
	color:white; 
	font-family:"Open sans", Helvetica, Arial; 
	font-weight:300; 
}

#head.secondary { 
	height:100px; 
	min-height: 100px; 
	padding-top:0px; 
}

	#head .lead { 
		font-family: 'PT Sans', sans-serif;
		font-size:50px; 
		margin-bottom:6px; 
		color:#FFFFFF; 
		line-height:1.15em; 
		letter-spacing: 0.0625em;
		/*text-shadow: 1px 1px 6px #FFFFFF;*/
	} 
	#head .tagline { 
		font-family: 'PT Sans', sans-serif;
		color:#FFFFFF; 
		font-size: 20px;
		margin-bottom:25px; 
		letter-spacing: 0.02em;
		/*text-shadow: 1px 1px 6px #FFFFFF;*/
	}
		#head .tagline a { color:#fff; 
		} 
	#head .btn { 
		margin-bottom:10px;
	}
	#head .btn-default { 
		text-shadow: none; 
		background:transparent; 
		color:rgba(255,255,255,.5); 
		-webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); 
		-moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); 
		box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); 
		background: transparent; }
		#head .btn-default:hover,
		#head .btn-default:focus { 
			color:rgba(255,255,255,.8); 
			-webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); 
			-moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); 
			box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); 
			background: transparent; }
		#head .btn-default:active, 
		#head .btn-default.active { 
			color:#fff; 
			-webkit-box-shadow:inset 0px 0px 0px 3px #fff; 
			-moz-box-shadow:inset 0px 0px 0px 3px #fff; 
			box-shadow:inset 0px 0px 0px 3px #fff; 
			background: transparent; 
		}

@media (max-width: 767px) {
	#head { min-height:420px; padding-top:160px; }
	#head .lead { font-size: 34px; }
}


/* Autohide navbar */
.slideUp { top:-100px; }
.headroom { 
	-webkit-transition: all 0.4s ease-out; 
	-moz-transition: all 0.4s ease-out; 
	-o-transition: all 0.4s ease-out; 
	transition: all 0.4s ease-out; 
}


/* Highlights (in jumbotron in most cases) */
.highlight { margin-top:40px; }
	.h-caption { text-align: center; } 
	.h-caption i { display:block; font-size: 54px; color:#382526; margin-bottom:36px; }
	.h-caption h4 { color:#382526; font-size: 16px; font-weight: bold; margin-bottom:20px; }
	.h-body { }


/* Typography */
h1, h2, h3, h4, h5, h6 { font-family: 'PT Sans', sans-serif; }
h1, .h1, h2, .h2, h3, .h3 { margin-top:30px; } 
blockquote { font-style: italic; font-family: Georgia; color:#999; margin:30px 0 30px; }
label { color: #777; }
.thin { font-weight:300; font-family: 'PT Sans', sans-serif; color:#78431B; }
.page-title { margin-top:20px; font-weight:300; }
.text-muted { color:#78431B; font-family: 'PT Sans', sans-serif; }
.breadcrumb { background:none; padding:0; margin:30px 0 0px 0; }
ul.list-spaces li{ margin-bottom:10px; }

/* Helpers */
.container-full { margin: 0 auto; width: 100%; }
.top-space { margin-top: 0px; }
.top-margin { margin-top:20px; }

img { max-width:100%; }
img.pull-right { margin-left: 10px; }
img.pull-left { margin-right: 10px; }
#map { width:100%; height:280px; }
#social { margin-top:0px; margin-bottom:50px; }
	#social .wrapper { width:340px; margin:0 auto; }

/* Main content block */
.maincontent { }

.container.text-center {
	/*background: url(../img/texture.png) repeat;*/
	width: ;
	padding-bottom: 2%;
	padding-top: 2%;
}

.jumbotron {
	margin-bottom: 0;
}

/* Sidebars */
.sidebar { padding-top:36px; padding-bottom:30px; }
	.sidebar .widget { margin-bottom:20px; }
	.sidebar h1, .sidebar .h1, .sidebar h2, .sidebar .h2, .sidebar h3, .sidebar .h3 { margin-top:20px; } 

/* Footer */

.simplenav {
	text-align: center;
	color: #FFFFFF;
}

.simplenav a {
	color: #FFFFFF;
}

.footer1 { background: #643614; padding: 10px 0 0 0; font-size: 12px; color: #999; 	border-top: #FFFFFF solid 1px;}
	.footer1 a { color: #FFFFFF; }
		.footer1 a:hover {color: #FFFFFF; }
	.footer1 .widget { margin-bottom:5px; }		
	.footer1 .widget-title { font-size: 17px; font-weight: bold; color: #ccc; margin: 0 0 20px; }
	.footer1 .entry-meta { 
		border-top: 1px solid #ccc; 
		border-bottom: 1px solid #ccc; 
		margin: 0 0 35px 0; padding: 2px 0; 
		color: #888888; font-size: 12px; 
		font-size: 0.75rem; 
	}
		.footer1 .entry-meta a { color: #333333; }
		.footer1 .entry-meta .meta-in { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 10px 0; }
	.follow-me-icons { font-size:30px; }		
		.follow-me-icons i { float:left; margin:0 10px 0 0; }		

.footer2 { background: #512D1E; padding: 15px 0; color: #777; font-size: 12px; }
	.footer2 a { color: #FFFFFF; }
		.footer2 a:hover { color: #FFFFFF; text-decoration: underline; }
		.footer2 p { margin: 0; }

	.text-right {
		color: #FFFFFF;
	}

	.widget-simplenav { margin-left:-5px; }		
	.widget-simplenav a{ margin:0 5px; }		